In [1]:
import pandas as pd
import csv
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

file = 'nba.games.stats.model.one_CP08Feb21.csv'

In [2]:
df = pd.read_csv(file, encoding='utf-8')
df.head()

,Team_Number_Id,TeamPoints,FieldGoals,X3PointShots,FreeThrows,OffRebounds,TotalRebounds,Assists,Steals,Blocks,Turnovers,TotalFouls
0,1,102,0.500,0.591,0.529,10,42,26,6,8,17,24
1,1,102,0.507,0.350,0.758,3,37,26,10,6,12,20
2,1,92,0.413,0.320,0.727,10,37,26,14,5,13,25
3,1,119,0.462,0.394,0.769,7,38,28,8,3,19,33
4,1,103,0.407,0.409,0.778,12,41,18,10,5,8,17

In [3]:
dataframe = pd.DataFrame(df)
dataframe.head()

,Team_Number_Id,TeamPoints,FieldGoals,X3PointShots,FreeThrows,OffRebounds,TotalRebounds,Assists,Steals,Blocks,Turnovers,TotalFouls
0,1,102,0.500,0.591,0.529,10,42,26,6,8,17,24
1,1,102,0.507,0.350,0.758,3,37,26,10,6,12,20
2,1,92,0.413,0.320,0.727,10,37,26,14,5,13,25
3,1,119,0.462,0.394,0.769,7,38,28,8,3,19,33
4,1,103,0.407,0.409,0.778,12,41,18,10,5,8,17

In [4]:
dataframe.columns

Index(['Team_Number_Id', 'TeamPoints', 'FieldGoals', 'X3PointShots',
       'FreeThrows', 'OffRebounds', 'TotalRebounds', 'Assists', 'Steals',
       'Blocks', 'Turnovers', 'TotalFouls'],
      dtype='object')

In [5]:
dataframe['TeamPoints'].dropna(how='any')
dataframe.head(10)

,Team_Number_Id,TeamPoints,FieldGoals,X3PointShots,FreeThrows,OffRebounds,TotalRebounds,Assists,Steals,Blocks,Turnovers,TotalFouls
0,1,102,0.500,0.591,0.529,10,42,26,6,8,17,24
1,1,102,0.507,0.350,0.758,3,37,26,10,6,12,20
2,1,92,0.413,0.320,0.727,10,37,26,14,5,13,25
3,1,119,0.462,0.394,0.769,7,38,28,8,3,19,33
4,1,103,0.407,0.409,0.778,12,41,18,10,5,8,17
5,1,91,0.380,0.370,0.964,9,38,20,7,3,15,16
6,1,100,0.513,0.450,0.722,13,46,23,8,4,18,12
7,1,114,0.560,0.393,0.826,3,36,33,10,5,13,20
8,1,94,0.444,0.136,0.846,11,37,26,6,8,18,12
9,1,109,0.482,0.333,0.783,13,38,22,7,3,10,17

In [6]:
dataframe.dtypes

Team_Number_Id    object
TeamPoints        object
FieldGoals        object
X3PointShots      object
FreeThrows        object
OffRebounds       object
TotalRebounds     object
Assists           object
Steals            object
Blocks            object
Turnovers         object
TotalFouls        object
dtype: object

In [21]:
dataframe["TeamPoints"] = dataframe["TeamPoints"].astype(float)
dataframe.dtypes

ValueError: could not convert string to float: 'TeamPoints'